body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("image/background.jpeg");
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: 900px;
}

.navigation-bar {
    color: blanchedalmond;
}

.lnavbar {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    font-size: 20px;
}

.rnavbar {
    display: flex;
    align-items: right;
    width: 40%;
    justify-content: space-evenly;
    font-size: 20px;
}

h1 {
    width: 20%;
    text-align: center;
}

li {
    position: relative;
    list-style: none;
    width:100%;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: blanchedalmond;
}

nav > ul > li > a:active {
    color: rgb(151, 149, 146);
}

nav {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(1, 1, 78);
}

.contact-form {
    display: flex;
    width: 40%;
    padding-top: 3%;
    margin: 0 auto;
}

.contact-form > form {
    background-color: rgb(1, 1, 78);
    color:blanchedalmond;
    width: 100%;
    height: 100%;
}

.contact-form > form > div{
    background-color: rgb(1, 1, 78);
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-top: 2%;
}

input[type="text"], textarea {
    background-color: #fff;
    color: #000;
    width: 90%;
}